@model BookStore.Models.BookModel

<div>

    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.Id)
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            <a href="Book/Book/@Model.Id">@Model.Title</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
