@model BookStore.Models.BookModel

<div>

    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.Id)
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.ActionLink(Model.Title, "GetById", new { id = Model.Id })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        @Html.ActionLink("Add to cart", "AddToCart", new { id = Model.Id})
    </dl>
</div>
