@model BookStore.Models.BookModel

<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.Id)
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.ActionLink(Model.Title, "GetById", "Book", new { id = Model.Id }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        @Html.ActionLink("Remove from cart", "RemoveFromCart", "Cart", new { id = Model.Id }, null)
    </dl>
</div>
